/* variables  */
$Primary-color: #023535;
$secoundry-color: #4f4f4f;
$textcolor: #FFFFFF;
$fontsize: 18px;

:host {
background-color: $Primary-color;
color: $textcolor;
}
header{
    padding-top: 3%;
}
.page-title{
    display: flex;
    justify-content: center;
}
.page-sub-title{
    display: flex;
    justify-content: center;
    font-style: italic;
}
.display-emp{
    display: flex;
    justify-content: space-evenly;
    margin-top: 4%;
}
