$md-primary: (
    50 : #e3eaf2,
    100 : #baccdf,
    200 : #8caaca,
    300 : #5d87b4,
    400 : #3b6ea4,
    500 : #185494,
    600 : #154d8c,
    700 : #114381,
    800 : #0e3a77,
    900 : #082965,
    A100 : #96b6ff,
    A200 : #6392ff,
    A400 : #306fff,
    A700 : #175dff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-secondary: (
    50 : #fff5e2,
    100 : #fee6b7,
    200 : #fed688,
    300 : #fdc658,
    400 : #fcb934,
    500 : #fcad10,
    600 : #fca60e,
    700 : #fb9c0c,
    800 : #fb9309,
    900 : #fa8305,
    A100 : #ffffff,
    A200 : #fff6ee,
    A400 : #ffdbbb,
    A700 : #ffcda2,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

//test theme
// $md-primary: (
//     50 : #e3f2e6,
//     100 : #badfc0,
//     200 : #8cca96,
//     300 : #5db46b,
//     400 : #3ba44c,
//     500 : #18942c,
//     600 : #158c27,
//     700 : #118121,
//     800 : #0e771b,
//     900 : #086510,
//     A100 : #96ff9d,
//     A200 : #63ff6d,
//     A400 : #30ff3d,
//     A700 : #17ff25,
//     contrast: (
//         50 : #000000,
//         100 : #000000,
//         200 : #000000,
//         300 : #000000,
//         400 : #ffffff,
//         500 : #ffffff,
//         600 : #ffffff,
//         700 : #ffffff,
//         800 : #ffffff,
//         900 : #ffffff,
//         A100 : #000000,
//         A200 : #000000,
//         A400 : #000000,
//         A700 : #000000,
//     )
// );

// $md-secondary: (
//     50 : #ffe2fd,
//     100 : #feb7f9,
//     200 : #fe88f5,
//     300 : #fd58f1,
//     400 : #fc34ee,
//     500 : #fc10eb,
//     600 : #fc0ee9,
//     700 : #fb0ce5,
//     800 : #fb09e2,
//     900 : #fa05dd,
//     A100 : #ffffff,
//     A200 : #ffeefd,
//     A400 : #ffbbf6,
//     A700 : #ffa2f3,
//     contrast: (
//         50 : #000000,
//         100 : #000000,
//         200 : #000000,
//         300 : #000000,
//         400 : #000000,
//         500 : #ffffff,
//         600 : #ffffff,
//         700 : #ffffff,
//         800 : #ffffff,
//         900 : #ffffff,
//         A100 : #000000,
//         A200 : #000000,
//         A400 : #000000,
//         A700 : #000000,
//     )
// );